# Dependencies
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/
mochawesome-report/

# Environment variables
cypress.env.json

# IDE
.vscode/

# OS
.DS_Store

# Logs
*.log 